<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Auteurs</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/livres" class="nav-link">Manage Livres</a>
    <a href="/auteurs" class="nav-link">Manage Auteurs</a>
    <a href="/categories" class="nav-link">Manage Categories</a>
</nav>
    <h2>Liste des auteurs</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Livres</th> <!-- New Column for Books -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="auteur : ${listAuteurs}">
                <td th:text="${auteur.id}"></td>
                <td th:text="${auteur.nom}"></td>
                <td>
                    <ul>
                        <li th:each="livre : ${auteur.livres}" th:text="${livre.titre}"></li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/auteurs/edit/{id}(id=${auteur.id})}">Modifier</a>
                    <a th:href="@{/auteurs/delete/{id}(id=${auteur.id})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/auteurs/new">Ajouter un nouveau auteur</a>
</body>
</html>
