<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">

<title>Categories</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/livres" class="nav-link">Manage Livres</a>
    <a href="/auteurs" class="nav-link">Manage Auteurs</a>
    <a href="/categories" class="nav-link">Manage Categories</a>
</nav>
<h2>Liste des categories</h2>
<table>
<thead>
<tr>
<th>ID</th>
<th>nom</th>
</tr>
</thead>
<tbody>
<tr th:each="categorie : ${listCategories}">
<td th:text="${categorie.id}"></td>
<td th:text="${categorie.nom}"></td>
<td>
<a th:href="@{/categories/edit/{id}(id=${categorie.id})}">Modifier</a>
<a th:href="@{/categories/delete/{id}(id=${categorie.id})}">Supprimer</a>
</td>
</tr>
</tbody>
</table>
<a href="/categories/new">Ajouter une nouvelle categorie</a>
</body>
</html>