<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">

    <title>Modifier un Auteur</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/livres" class="nav-link">Manage Livres</a>
    <a href="/auteurs" class="nav-link">Manage Auteurs</a>
    <a href="/categories" class="nav-link">Manage Categories</a>
</nav>
    <h2>Modifier l'auteur</h2>
    <form action="#" th:action="@{/auteurs/update}" th:object="${auteur}" method="post">
        <input type="hidden" th:field="*{id}" /> <!-- Hidden field for ID -->

        <label for="nom">Nom:</label>
        <input type="text" id="nom" th:field="*{nom}" /><br><br>

        <input type="submit" value="Modifier Auteur" />
    </form>

    <a href="/auteurs">Retour à la liste des auteurs</a>
</body>
</html>
