<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/styles1.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Library Management System</h1>
        <p>Select an option to manage:</p>

        <div class="navigation">
            <a href="/livres" class="button">Manage Livres</a>
            <a href="/auteurs" class="button">Manage Auteurs</a>
            <a href="/categories" class="button">Manage Categories</a>
        </div>
    </div>
</body>
</html>
