<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">

    <title>Ajouter un Livre</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/livres" class="nav-link">Manage Livres</a>
    <a href="/auteurs" class="nav-link">Manage Auteurs</a>
    <a href="/categories" class="nav-link">Manage Categories</a>
</nav>
    <h2>Ajouter un nouveau livre</h2>
    <form action="#" th:action="@{/livres/save}" th:object="${livre}" method="post">
        <label for="titre">Titre:</label>
        <input type="text" id="titre" th:field="*{titre}" /><br><br>

<label for="auteur">Auteur:</label>
<select id="auteur" th:field="*{auteur.id}">
    <option th:each="auteur : ${auteurs}" th:value="${auteur.id}" th:text="${auteur.nom}"></option>
</select><br><br>


        <label for="categorie">Categorie:</label>
        <select id="categorie" th:field="*{categorie.id}">
            <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.nom}"></option>
        </select><br><br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" th:field="*{isbn}" /><br><br>

        <input type="submit" value="Ajouter Livre" />
    </form>

    <a href="/livres">Retour à la liste des livres</a>
</body>
</html>
