<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">

    <title>Ajouter une Categorie</title>
</head>
<body>
    <h2>Ajouter une nouvelle categorie</h2>
    <form action="#" th:action="@{/categories/save}" th:object="${categorie}" method="post">
        <label for="titre">Nom</label>
        <input type="text" id="titre" th:field="*{nom}" /><br><br>


        <input type="submit" value="Ajouter categorie" />
    </form>

    <a href="/auteurs">Retour à la liste des categories</a>
</body>
</html>
